<?xml version="1.0" encoding="utf-8"?>

<manifest
        package="com.fezrestia.android.overlaydebugdisplay"
        xmlns:android="http://schemas.android.com/apk/res/android"
>

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
            android:name=".OverlayDebugDisplayApplication"
            android:icon="@drawable/application_icon"
            android:label="@string/application_label"
    >
        <activity
                android:name=".activity.OverlayDebugDisplayActivity"
                android:icon="@drawable/application_icon"
                android:label="@string/application_label"
        >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
                android:name=".service.OverlayDebugDisplayService"
        />

    </application>

</manifest>

